<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sign in page</title>
  </head>
  <body>
    <form action="/signin" method="post">
      <div class="sign in form">
        <label>User name</label>
        <input placeholder="user name" type="text" name="name" />
      </div>
      <div class="sign in form">
        <label>Passward</label>
        <input placeholder="password" type="password" name="password" />
      </div>
      <input type="submit" />
    </form>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
